body{
    margin: 0;
}
header {
    background-color:rgb(113, 175, 225);
    color: white;
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#name {
    font-size: 27px;
}
#list {
    list-style: none;
    display: flex;
    gap: 20px;
}

#list li {
    cursor: pointer;
    padding: 5px 10px;
}

.box-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

#mern{
  width: 500px;
  height: 200px;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  
}

#some {
  width: 300px;
  border-radius: 8px;
  padding: 0px;
  background-color: #fff;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #222;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.Services{
     background-color:rgb(113, 175, 225);
}
.Services h1 {
  text-align: center;
  margin-top: 40px;
  padding-top: 10px;
  margin-bottom: 5px;
  font-size: 2.5rem;
  color: #f7f8f4;
  font-weight: 500;
}

.service-container{
display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 40px 30px;
  border-radius: 24px;
  margin: 40px auto;
  

  max-width: 1200px;
}
.service-box {
  background: #f3f3f3ac;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;

}




